{%extends 'base.html'%}
{% block content %}
{{ block.super}}
{% load bootstrap4 %}
<br>
<br>
<div class="container" style="background-color: rgba(189, 187, 168, 0.966);">

  <div class="card-columns">
    {% for image in images %}
    <div class="card border-secondary">
      <img class="card-img-top" class="img-responsive" src="{{image.img.url}}" data-target="#extraModal{{image.id}}" data-toggle="modal" size="100px200">
    </div>
    {%endfor%}
  </div>

</div>

<!-- Large modal -->
{% for image in images %}

<!-- Modal -->
<div class="modal fade" id="extraModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="extra" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: rgba(135, 163, 201, 0.966);">
      <div class="modal-header">
        <h5 style="font-family: 'Chelsea Market', cursive;" class="modal-title" id="exampleModalLongTitle">|| TITLE ||:<hr> {{image.name}}</h5><hr>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
      </div>

      <div class="modal-body">
        <img class="card-img-top" class="img-responsive" src="{{image.img.url}}" size="100px200">
        <h5 style="font-family: 'Chelsea Market', cursive;"><br>|| ABOUT ||<hr><hr> {{image.description}}</h5>
        <hr>
        <h5 style="font-family: 'Chelsea Market', cursive;">|| LOCATION ||<hr><hr> {{image.location}}</h5>
        <hr>
        {% for category in image.categories.all %}
        <h5 style="font-family: 'Chelsea Market', cursive;">|| CATEGORY ||<hr><hr> {{ category.name }} </h5>
        {% endfor %}
        <hr>
        <!-- The button used to copy the text -->

        <button type="button" name="button" style="font-family: 'Chelsea Market', cursive;" class="btn btn-info" value="https://fotopicturesque.herokuapp.com{{image.img.url}}" onclick="copylink(this.value)">COPY IMAGE LINK</button>
      </div>
      <div class="modal-footer">
        <button type="button" style="font-family: 'Chelsea Market', cursive;" class="btn btn-info" data-dismiss="modal">CLOSE</button>

      </div>
    </div>
  </div>
</div>
<script>
function copylink(value) {
    console.log('hi yellow')
    function handler(event){
        event.clipboardData.setData('text/plain', value);
        event.preventDefault();
        document.removeEventListener('copy', handler, true);
    }
    document.addEventListener('copy', handler, true);
    document.execCommand('copy');
}
</script>


{%endfor%}
{% endblock %}
