{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Picturesque - {{title}}</title>
  {% else %}
  <title> Picturesque </title>
  {% endif %}
  <script data-require="jquery@*" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  {% block styles %}
  {% bootstrap_css %}
  <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
  {% endblock %}
  <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
</head>

<body style="background-color: rgba(189, 187, 168, 0.966);">
  {% include "navbar.html" %}
  {% block content %}{%endblock%}

  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'js/script.js' %}">

  </script>
  {% bootstrap_javascript %}
  {% endblock %}
</body>

</html>
