{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Gallery - {{title}}</title>
  {% else %}
  <title> Gallery </title>
  {% endif %}
  <script data-require="jquery@*" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  {% block styles %}
  {% bootstrap_css %}
  <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
  {% endblock %}
  <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
</head>

<body style="background-color: rgba(196, 15, 136, 0.966);">
  {% include "navbar.html" %}
  {% block content %}{%endblock%}

  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/baseimages.css' %}">
  <div class="container">
    
      <div class="socials">
        <h6>follow us on the platforms below</h6>
          <a href="https://web.facebook.com/?_rdc=1&_rdr" class="fa fa-facebook"></a>
          <a href="https://twitter.com/explore" class="fa fa-twitter"></a>
          <a href="https://www.skype.com/en/" class="fa fa-skype"></a>
          <a href="https://www.pinterest.com/" class="fa fa-pinterest"></a>
          <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
          <a href="https://www.stumbleupon.com/" class="fa fa-stumbleupon"></a>
          <a href="https://www.flickr.com/" class="fa fa-flickr"></a>
          <a href="https://www.behance.net/" class="fa fa-behance"></a>
      </div>
      <h6>MY Gallery</h6>
      <h6>@ copyright 2020</h6>
  </div>       
  {% bootstrap_javascript %}
  {% endblock %}
</body>

</html>
